{% load staticfiles %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
</head>

<body>
    <h1 class="text-center mb-3"> Fazer login </h1>
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            {% bootstrap_form_errors form %}
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success align-center" type="submit">Login</button>
                            </div>
                             <p class="text-center mt-2">Não tem uma conta? <a href="/usuarios/register"><strong>CADASTRE-SE</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</body>

</html>