{% extends 'main/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-success mt-3" href="{%url 'main:novo'%}">Nova solicitação</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-responsive-sm  table-responsive-md table table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Acesso</th>
                        <th>Data</th>
                        <th>Obs:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitacao in solicitacoes %}
                    <tr>
                        <td>{{solicitacao.pk}}</td>
                        <td>{{solicitacao.tipo_acesso}}</td>
                        <td>{{"........"}}</td>
                        <td>{{"........"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul class="pagination">
                {% if solicitacoes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Primeiro</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ solicitacoes.previous_page_number }}">
                        &laquo;</a>
                </li>
                {% endif %}

                {% for page in num_pages %}
                <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                {% endfor %}

                {% if solicitacoes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ solicitacoes.next_page_number }}">&raquo;</a>
                </li>
                <a class="mt-2" href="?page={{ solicitacoes.paginator.num_pages }}">Último</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}