{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h5>Solicitações no mês</h5>  
                    {{solicitacoesMes}}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Solicitações no dia</h5>  
                    {{solicitacoesHoje}}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Solicitações no ano</h5>  
                    {{solicitacoesAno}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}